/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

$color-primary: rgba(85, 197, 122, 0.808);
$color-primary-light: rgba(126, 213, 111, 0.801);
$color-primary-dark: rgba(10, 134, 37, 0.808);
$color-primary-very-light: rgba(97, 226, 74, 0.849);

$color-secodary-light: #ffb900;
$color-secodary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-white: #fff;


$color-gray: #777;
$color-gray-2: #999;
$color-gray-3: #333;


$color-black: #000;





$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: rgb(161, 156, 156);


// FONT

$default-font-siz: 1.6rem;



// GRID


$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;